#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    //chosen {
	//	zephyr,console = &cdc_acm_uart;
	//};

    keymap {
        compatible = "zmk,keymap";

        default_layer { // layer 0
            bindings = <
                &kp A   &kp B
                &tog 1  &bt BT_CLR_ALL
            >;
        };

        scroll_layer { // layer 1
            bindings = <
                &kp D   &kp E
                &tog 1  &kp F
            >;
        };
    };
};

//&usbd {
//	status = "okay";
//	cdc_acm_uart: cdc_acm_uart {
//		compatible = "zephyr,cdc-acm-uart";
//		label = "CDC_ACM_0";
//	};
//};