[submodule "ref/KLOTZ"]
	path = ref/KLOTZ
	url = https://github.com/GEIGEIGEIST/KLOTZ
[submodule "ref/module-sample"]
	path = ref/module-sample
	url = git@github.com:yashi/module-sample.git
[submodule "zmk/zmk-modules/led-test-module"]
	path = zmk/zmk-modules/zmk-led-test
	url = git@github.com:T0mmy312/zmk-led-test.git
