#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        hm: homerow_mods {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping-term-ms = <300>;
                quick-tap-ms = <0>;
                flavor = "tap-preferred";
      q
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q  &kp W        &kp E       &kp R       &kp T
                &kp A  &hm LCTRL S  &hm LALT D  &hm LCMD F  &kp G
                &kp Z  &kp X        &kp C       &kp V       &kp B
                                             &kp BSPC   &kp SPACE
            >;
        };
    };
};